a:link {
  color: red;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}

.body{
	display: flex;
	flex-direction: column;
	height: 100%;
	}
	
.main {
	display: flex;
	flex: auto;
	}

.aside {
	flex: 1;
	}
	
.article {
	flex: 3;
	}
