a:link {
  color: red;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}

A{
  display: flex;
  flex-direction: column;
}

B{

	flex: auto;
	}

C{
	flex: 1;
	}
	
D{
	flex: 3;
	}

